<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'linkedin_username' %}
      <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    {% when 'orcid_id' %}
      <a href="https://orcid.org/{{ social[1] }}" title="ORCID"><i class="fa-brands fa-orcid"></i></a>
    {% when 'research_gate_profile' %}
      <a href="https://www.researchgate.net/profile/{{ social[1] }}" title="ResearchGate"><i class="fa-brands fa-researchgate"></i></a>
    {% when 'scholar_userid' %}
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
    {% when 'scopus_id' %}
      <a href="https://www.scopus.com/authid/detail.uri?authorId={{ social[1] }}" title="Scopus"><i class="fa-solid fa-search"></i></a>
    {% when 'acm_id' %}
      <a href="https://dl.acm.org/profile/{{ social[1] }}" title="ACM DL"><i class="fa-solid fa-laptop-code"></i></a>
    {% when 'blogger_url' %}
      <a href="{{ social[1] }}" title="Blogger"><i class="fa-brands fa-blogger-b"></i></a>
    {% when 'bluesky_url' %}
      <a href="{{ social[1] }}" title="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
    {% when 'dblp_url' %}
      <a href="{{ social[1] }}" title="DBLP"><i class="fa-solid fa-database"></i></a>
    {% when 'discord_id' %}
      <a href="https://discord.com/users/{{ social[1] }}" title="Discord"><i class="fa-brands fa-discord"></i></a>
    {% when 'email' %}
      <a href="mailto:{{ social[1] }}" title="Email"><i class="fa-solid fa-envelope"></i></a>
    {% when 'github_username' %}
      <a href="https://github.com/{{ social[1] }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
    {% when 'twitter_username' %}
      <a href="https://twitter.com/{{ social[1] }}" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
    {% when 'youtube_channel' %}
      <a href="https://www.youtube.com/channel/{{ social[1] }}" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    {% when 'facebook_username' %}
      <a href="https://www.facebook.com/{{ social[1] }}" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
    {% when 'instagram_username' %}
      <a href="https://www.instagram.com/{{ social[1] }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    {% when 'medium_username' %}
      <a href="https://medium.com/@{{ social[1] }}" title="Medium"><i class="fa-brands fa-medium"></i></a>
    {% when 'pinterest_id' %}
      <a href="https://www.pinterest.com/{{ social[1] }}" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
    {% when 'quora_username' %}
      <a href="https://www.quora.com/profile/{{ social[1] }}" title="Quora"><i class="fa-brands fa-quora"></i></a>
    {% when 'rss_icon' %}
      {% if social[1] %}
        <a href="{{ site.url }}/feed.xml" title="RSS"><i class="fa-solid fa-rss"></i></a>
      {% endif %}
    {% when 'semanticscholar_id' %}
      <a href="https://www.semanticscholar.org/author/{{ social[1] }}" title="Semantic Scholar"><i class="fa-solid fa-book-open"></i></a>
    {% when 'osf_id' %}
      <a href="https://osf.io/{{ social[1] }}" title="OSF"><i class="fa-solid fa-project-diagram"></i></a>
    {% when 'publons_id' %}
      <a href="https://publons.com/researcher/{{ social[1] }}" title="Publons"><i class="fa-solid fa-award"></i></a>
    {% when 'leetcode_id' %}
      <a href="https://leetcode.com/{{ social[1] }}" title="LeetCode"><i class="fa-brands fa-leetcode"></i></a>
  {% endcase %}
{% endfor %}
